<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="isHandset ? 'dialog' : 'navigation'"
        [mode]="isHandset ? 'over' : 'side'"
        [opened]="!isHandset && isUserLoggedIn()">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/'">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <div matListItemTitle>Dashboard</div>
          <div matListItemLine>Your health care at a glance.</div>
        </a>
        <a mat-list-item [routerLink]="'/appointments'">
          <mat-icon matListItemIcon>book_online</mat-icon>
          <div matListItemTitle>Appointments</div>
          <div matListItemLine>We offer in-person and telehealth.</div>
        </a>
        <a mat-list-item [routerLink]="'/messages'">
          <mat-icon matListItemIcon>mail</mat-icon>
          <div matListItemTitle>Messages</div>
          <div matListItemLine>Send notes and receive them from us.</div>
        </a>
        <a mat-list-item [routerLink]="'/records'">
          <mat-icon matListItemIcon>receipt_long</mat-icon>
          <div matListItemTitle>Records</div>
          <div matListItemLine>Your medications, allergies, & lab results.</div>
        </a>
        <a mat-list-item [routerLink]="'/billing'">
          <mat-icon matListItemIcon>account_balance</mat-icon>
          <div matListItemTitle>Billing</div>
          <div matListItemLine>Any amounts due for services rendered.</div>
        </a>
        <a mat-list-item [routerLink]="'/settings'">
          <mat-icon matListItemIcon>settings_account_box</mat-icon>
          <div matListItemTitle>Account Settings</div>
          <div matListItemLine>Change the settings for your portal account.</div>
        </a>
        <mat-list-item (click)="logOut()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <div matListItemTitle>Log Out {{ userName }}</div>
          <div matListItemLine>Return immediately to the log in screen.</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        @if (isHandset && isUserLoggedIn()) {
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
        <span>Angular Health Insight</span>
      </mat-toolbar>
      <div class="main-content">
        <router-outlet />
      </div>
      <app-footer />
    </mat-sidenav-content>
  </mat-sidenav-container>
  